---
interface Props {
	name: string;
    instagram: string;
    linkedin: string;
    nameColor: string;
    mandoColor: string;
}

const { name, instagram, linkedin, nameColor, mandoColor } = Astro.props;

---
<div class="flex flex-col pr-5 items-center justify-center rounded-t-[120px] rounded-b-[120px] border-4 bg-bg1 border-solid border-white shadow-card gap-[32px] w-[320px] h-[550px]">
    <div class="flex flex-col items-center gap-[16px] ml-4">
        <div class="flex flex-col items-center gap-[16px] ">
            <div class="relative">
                <slot name="avatar"/>
                <div class="absolute bottom-[30%] right-[-50%] w-8 h-8 text-white items-center text-center animate-hang" style="animation-delay: 500ms; animation-duration: 2s; animation-iteration-count: infinite">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Environment / Coffe_To_Go"> <path id="Vector" d="M6.68604 15H17.3146M6.51465 13H17.4861M7.74316 7H16.2571M7.74316 7C7.13829 7 6.8358 7 6.61279 7.12093C6.41686 7.22718 6.26205 7.3963 6.17292 7.60059C6.07151 7.83303 6.0973 8.13407 6.14893 8.73633L6.94921 18.073C7.0377 19.1053 7.08203 19.6225 7.31149 20.0132C7.51358 20.3572 7.81426 20.6327 8.17432 20.8047C8.58318 21 9.10126 21 10.1377 21H13.8628C14.8992 21 15.4174 21 15.8263 20.8047C16.1864 20.6327 16.4869 20.3572 16.689 20.0132C16.9185 19.6225 16.9628 19.1056 17.0513 18.073L17.8517 8.73471C17.9033 8.13312 17.929 7.8329 17.8276 7.60059C17.7385 7.3963 17.5838 7.22718 17.3878 7.12093C17.1648 7 16.862 7 16.2571 7M7.74316 7H6.7499C5.85031 7 5.40023 7 5.13867 6.81152C4.90778 6.64515 4.75884 6.38816 4.72894 6.10515C4.69504 5.78431 4.91871 5.3929 5.36568 4.6107L5.36621 4.60977C5.70039 4.02496 5.86748 3.73255 6.10197 3.51953C6.31161 3.32909 6.55925 3.18544 6.82861 3.09791C7.12991 3 7.46658 3 8.14014 3H15.8604C16.5339 3 16.8707 3 17.172 3.09791C17.4413 3.18544 17.6888 3.32909 17.8984 3.51953C18.1329 3.73255 18.3 4.02496 18.6342 4.60977C19.0813 5.39224 19.3053 5.78425 19.2714 6.10515C19.2415 6.38816 19.0925 6.64515 18.8616 6.81152C18.6001 7 18.1497 7 17.2501 7H16.2571" stroke=`${mandoColor}` stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
                </div>
              </div>
            <div slot="redes-sociales" class="">
                <a class="flex items-center gap-2 text-white font-ibm hover:text-brand1" href=`https://www.instagram.com/{instagram}/`>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <g clip-path="url(#clip0_513_656)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.11701 6.26551C8.89493 5.86187 9.78031 5.71379 10.6472 5.84235C11.5315 5.97348 12.3502 6.38554 12.9823 7.01767C13.6145 7.64979 14.0265 8.46847 14.1577 9.35276C14.2862 10.2197 14.1381 11.1051 13.7345 11.883C13.3308 12.6609 12.6922 13.2917 11.9093 13.6858C11.1265 14.0798 10.2394 14.2169 9.3741 14.0777C8.50882 13.9385 7.70949 13.5299 7.08978 12.9102C6.47007 12.2905 6.06154 11.4912 5.92231 10.6259C5.78307 9.76063 5.92022 8.87349 6.31424 8.09065C6.70826 7.30782 7.3391 6.66916 8.11701 6.26551ZM10.4028 7.49098C9.88261 7.41385 9.35138 7.5027 8.88463 7.74489C8.41788 7.98707 8.03938 8.37027 7.80297 8.83997C7.56655 9.30967 7.48427 9.84196 7.5678 10.3611C7.65135 10.8803 7.89646 11.3599 8.26829 11.7317C8.64011 12.1035 9.11972 12.3487 9.63888 12.4322C10.158 12.5157 10.6903 12.4334 11.16 12.197C11.6297 11.9606 12.0129 11.5821 12.2551 11.1154C12.4973 10.6486 12.5861 10.1174 12.509 9.59723C12.4303 9.06666 12.1831 8.57545 11.8038 8.19618C11.4245 7.8169 10.9333 7.56966 10.4028 7.49098Z" fill="#12F7D6"/>
                        <path d="M14.5834 4.58334C14.1231 4.58334 13.75 4.95643 13.75 5.41667C13.75 5.87691 14.1231 6.25 14.5834 6.25H14.5917C15.0519 6.25 15.425 5.87691 15.425 5.41667C15.425 4.95643 15.0519 4.58334 14.5917 4.58334H14.5834Z" fill="#12F7D6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.833374 5.83334C0.833374 3.07191 3.07195 0.833336 5.83337 0.833336H14.1667C16.9281 0.833336 19.1667 3.07191 19.1667 5.83334V14.1667C19.1667 16.9281 16.9281 19.1667 14.1667 19.1667H5.83337C3.07195 19.1667 0.833374 16.9281 0.833374 14.1667V5.83334ZM5.83337 2.5C3.99242 2.5 2.50004 3.99239 2.50004 5.83334V14.1667C2.50004 16.0076 3.99242 17.5 5.83337 17.5H14.1667C16.0077 17.5 17.5 16.0076 17.5 14.1667V5.83334C17.5 3.99239 16.0077 2.5 14.1667 2.5H5.83337Z" fill="#12F7D6"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_513_656">
                        <rect width="20" height="20" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                        Instagram
                </a>
                <a class="flex items-center gap-2 text-white font-ibm hover:text-brand1" href=`https://www.instagram.com/{instagram}/`>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256">
                        <g fill="#12f7d6" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8.53333,8.53333)"><path d="M24,4h-18c-1.105,0 -2,0.895 -2,2v18c0,1.105 0.895,2 2,2h18c1.105,0 2,-0.895 2,-2v-18c0,-1.105 -0.895,-2 -2,-2zM10.954,22h-2.95v-9.492h2.95zM9.449,11.151c-0.951,0 -1.72,-0.771 -1.72,-1.72c0,-0.949 0.77,-1.719 1.72,-1.719c0.948,0 1.719,0.771 1.719,1.719c0,0.949 -0.771,1.72 -1.719,1.72zM22.004,22h-2.948v-4.616c0,-1.101 -0.02,-2.517 -1.533,-2.517c-1.535,0 -1.771,1.199 -1.771,2.437v4.696h-2.948v-9.492h2.83v1.297h0.04c0.394,-0.746 1.356,-1.533 2.791,-1.533c2.987,0 3.539,1.966 3.539,4.522z"></path></g></g>
                        </svg>
                        LinkedIn
                </a>
            </div>
                <p class=`font-ibm text-[24px] font-medium capitalize leading-10 ${nameColor}`>{name}</p>
            </div>
        </div>
        <div class="flex flex-col items-center gap-[10px] ml-4">
            <p class="text-brand2 font-code text-[14px] font-normal hover:text-brand1">&lt;p&gt;</p>
            <div class="flex flex-col items-center text-center self-strech px-[16px] py-[2px]">
                <slot name="descripcion"/>
            </div>
            <p class="text-brand2 font-code text-[14px] font-normal pt-[2px] hover:text-brand1">&lt;p&gt;</p>
        </div>

    </div>
</div>